In [111]:
import pandas as pd
import numpy as np
from datetime import datetime

In [112]:
#read in all data sets
gucheng = pd.read_csv('PRSA_Data_20130301-20170228/PRSA_Data_Gucheng_20130301-20170228.csv').dropna(how='any')
changping = pd.read_csv('PRSA_Data_20130301-20170228/PRSA_Data_Changping_20130301-20170228.csv').dropna(how='any')
shunyi = pd.read_csv('PRSA_Data_20130301-20170228/PRSA_Data_Shunyi_20130301-20170228.csv').dropna(how='any')
tiantan = pd.read_csv('PRSA_Data_20130301-20170228/PRSA_Data_Tiantan_20130301-20170228.csv').dropna(how='any')
wanliu = pd.read_csv('PRSA_Data_20130301-20170228/PRSA_Data_Wanliu_20130301-20170228.csv').dropna(how='any')
guanyuan = pd.read_csv('PRSA_Data_20130301-20170228/PRSA_Data_Guanyuan_20130301-20170228.csv').dropna(how='any')
dongsi = pd.read_csv('PRSA_Data_20130301-20170228/PRSA_Data_Dongsi_20130301-20170228.csv').dropna(how='any')
huariou = pd.read_csv('PRSA_Data_20130301-20170228/PRSA_Data_Huairou_20130301-20170228.csv').dropna(how='any')
dingling = pd.read_csv('PRSA_Data_20130301-20170228/PRSA_Data_Dingling_20130301-20170228.csv').dropna(how='any')
aotizhongxin = pd.read_csv('PRSA_Data_20130301-20170228/PRSA_Data_Aotizhongxin_20130301-20170228.csv').dropna(how='any')

In [118]:
data_months = {'1' : '01', '2' : '02', '3' : '03', '4' : '04', '5' : '05', '6' : '06', '7' : '07', '8' : '08', '9' : '09'}
data_days = {'1' : '01', '2' : '02', '3' : '03', '4' : '04', '5' : '05', '6' : '06', '7' : '07', '8' : '08', '9' : '09'}

gucheng['month'] = gucheng['month'].apply(lambda x: data_months[str(x)] if int(x) < 10 else str(x))

KeyError: '03'

In [120]:
gucheng['day'] = gucheng['day'].apply(lambda x: data_days[str(x)] if int(x) < 10 else str(x))

In [ ]:
gucheng['month'] = gucheng['month'].apply(lambda x: data_months[str(x)] if int(x) < 10 else str(x))
gucheng['day'] = gucheng['day'].apply(lambda x: data_days[str(x)] if int(x) < 10 else str(x))

changping['month'] = changping['month'].apply(lambda x: data_months[str(x)] if int(x) < 10 else str(x))
changping['day'] = changping['day'].apply(lambda x: data_days[str(x)] if int(x) < 10 else str(x))

shunyi['month'] = shunyi[]'month'].apply(lambda x: data_months[str(x)] if int(x) < 10 else str(x))
shunyi['day'] = shunyi['day'].apply(lambda x: data_days[str(x)] if int(x) < 10 else str(x))

tiantan['month'] = tiantan['month'].apply(lambda x: data_months[str(x)] if int(x) < 10 else str(x))
tiantan['day'] = tiantan['day'].apply(lambda x: data_days[str(x)] if int(x) < 10 else str(x))

wanliu['month'] = wanliu['month'].apply(lambda x: data_months[str(x)] if int(x) < 10 else str(x))
wanliu['day'] = wanliu['day'].apply(lambda x: data_days[str(x)] if int(x) < 10 else str(x))

guanyuan['month'] = guanyuan['month'].apply(lambda x: data_months[str(x)] if int(x) < 10 else str(x))
guanyuan['day'] = guanyuan['day'].apply(lambda x: data_days[str(x)] if int(x) < 10 else str(x))

dongsi['month'] = dongsi['month'].apply(lambda x: data_months[str(x)] if int(x) < 10 else str(x))
dongsi['day'] = dongsi['day'].apply(lambda x: data_days[str(x)] if int(x) < 10 else str(x))

huariou['month'] = huariou['month'].apply(lambda x: data_months[str(x)] if int(x) < 10 else str(x))
huariou['day'] = huariou['day'].apply(lambda x: data_days[str(x)] if int(x) < 10 else str(x))

gucheng['month'] = gucheng['month'].apply(lambda x: data_months[str(x)] if int(x) < 10 else str(x))
gucheng['day'] = gucheng['day'].apply(lambda x: data_days[str(x)] if int(x) < 10 else str(x))

In [121]:
gucheng

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
20,21,2013,03,01,20,13.0,25.0,12.0,5.0,1100.0,61.0,1.6,1027.1,-18.4,0.0,ESE,1.9,Gucheng
21,22,2013,03,01,21,15.0,23.0,14.0,13.0,1200.0,52.0,1.0,1028.1,-17.4,0.0,SSE,0.7,Gucheng
22,23,2013,03,01,22,16.0,28.0,16.0,19.0,1200.0,45.0,1.3,1028.4,-17.6,0.0,E,1.0,Gucheng
23,24,2013,03,01,23,16.0,28.0,14.0,20.0,1100.0,44.0,0.2,1028.6,-17.6,0.0,ESE,1.1,Gucheng
24,25,2013,03,02,0,14.0,18.0,24.0,43.0,1399.0,25.0,-0.3,1028.9,-18.0,0.0,ENE,1.4,Gucheng
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,02,28,19,14.0,58.0,4.0,19.0,500.0,56.0,12.8,1009.9,-17.0,0.0,NNW,3.1,Gucheng
35060,35061,2017,02,28,20,27.0,83.0,6.0,60.0,700.0,26.0,11.1,1010.4,-15.5,0.0,NW,1.9,Gucheng
35061,35062,2017,02,28,21,22.0,37.0,7.0,52.0,600.0,27.0,10.5,1010.8,-15.9,0.0,N,2.3,Gucheng
35062,35063,2017,02,28,22,9.0,23.0,3.0,13.0,400.0,57.0,8.9,1010.9,-14.9,0.0,NE,1.6,Gucheng
35063,35064,2017,02,28,23,12.0,48.0,5.0,48.0,600.0,28.0,6.2,1010.5,-13.4,0.0,NNE,0.7,Gucheng

In [122]:
gucheng['date'] = gucheng.apply(lambda x: '{}-{}-{}'.format(x['month'], x['day'], x['year']), axis = 1)
changping['date'] = gucheng.apply(lambda x: '{}-{}-{}'.format(x['month'], x['day'], x['year']), axis = 1)
shunyi['date'] = gucheng.apply(lambda x: '{}-{}-{}'.format(x['month'], x['day'], x['year']), axis = 1)
tiantan['date'] = gucheng.apply(lambda x: '{}-{}-{}'.format(x['month'], x['day'], x['year']), axis = 1)
wanliu['date'] = gucheng.apply(lambda x: '{}-{}-{}'.format(x['month'], x['day'], x['year']), axis = 1)
guanyuan['date'] = gucheng.apply(lambda x: '{}-{}-{}'.format(x['month'], x['day'], x['year']), axis = 1)
dongsi['date'] = dongsi.apply(lambda x: '{}-{}-{}'.format(x['month'], x['day'], x['year']), axis = 1)
huariou['date'] = huariou.apply(lambda x: '{}-{}-{}'.format(x['month'], x['day'], x['year']), axis = 1)
dingling['date'] = aotizhongxin.apply(lambda x: '{}-{}-{}'.format(x['month'], x['day'], x['year']), axis = 1)
aotizhongxin['date'] = aotizhongxin.apply(lambda x: '{}-{}-{}'.format(x['month'], x['day'], x['year']), axis = 1)

In [123]:
gucheng

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,date
20,21,2013,03,01,20,13.0,25.0,12.0,5.0,1100.0,61.0,1.6,1027.1,-18.4,0.0,ESE,1.9,Gucheng,03-01-2013
21,22,2013,03,01,21,15.0,23.0,14.0,13.0,1200.0,52.0,1.0,1028.1,-17.4,0.0,SSE,0.7,Gucheng,03-01-2013
22,23,2013,03,01,22,16.0,28.0,16.0,19.0,1200.0,45.0,1.3,1028.4,-17.6,0.0,E,1.0,Gucheng,03-01-2013
23,24,2013,03,01,23,16.0,28.0,14.0,20.0,1100.0,44.0,0.2,1028.6,-17.6,0.0,ESE,1.1,Gucheng,03-01-2013
24,25,2013,03,02,0,14.0,18.0,24.0,43.0,1399.0,25.0,-0.3,1028.9,-18.0,0.0,ENE,1.4,Gucheng,03-02-2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,02,28,19,14.0,58.0,4.0,19.0,500.0,56.0,12.8,1009.9,-17.0,0.0,NNW,3.1,Gucheng,02-28-2017
35060,35061,2017,02,28,20,27.0,83.0,6.0,60.0,700.0,26.0,11.1,1010.4,-15.5,0.0,NW,1.9,Gucheng,02-28-2017
35061,35062,2017,02,28,21,22.0,37.0,7.0,52.0,600.0,27.0,10.5,1010.8,-15.9,0.0,N,2.3,Gucheng,02-28-2017
35062,35063,2017,02,28,22,9.0,23.0,3.0,13.0,400.0,57.0,8.9,1010.9,-14.9,0.0,NE,1.6,Gucheng,02-28-2017
35063,35064,2017,02,28,23,12.0,48.0,5.0,48.0,600.0,28.0,6.2,1010.5,-13.4,0.0,NNE,0.7,Gucheng,02-28-2017

In [128]:
gucheng['date'] = gucheng['date'].apply(lambda x: datetime.strptime(x, '%m-%d-%Y'))


# date_dt3 = datetime.strptime(date_str3, '%m-%d-%Y')
# changping_dates = 
# shunyi_dates = 
# tiantan_dates = 
# wanliu_dates = 
# guanyuan_dates = 
# dongsi_dates = 
# huariou_dates = 
# dingling_dates = 
# aotizhongxin_dates =

In [129]:
type(gucheng['date'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [48]:
#creating data set of averages

#Year 1 data between March 2013 and Feb 2014
aotizhongxin_yr1 = aotizhongxin[aotizhongxin['date'] == 2013].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
gucheng_yr1 = aotizhongxin[aotizhongxin['year'] == 2013].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
changping_yr1 = changping[changping['year'] == 2013].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
shunyi_yr1 = shunyi[shunyi['year'] == 2013].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
tiantan_yr1 = tiantan[tiantan['year'] == 2013].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
wanliu_yr1 = wanliu[wanliu['year'] == 2013].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
guanyuan_yr1 = guanyuan[guanyuan['year'] == 2013].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
dongsi_yr1 = dongsi[dongsi['year'] == 2013].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
huariou_yr1 = huariou[huariou['year'] == 2013].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
dingling_yr1 = dingling[dingling['year'] == 2013].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])


#Year 2 data between March 2014 and Feb 2015
aotizhongxin_yr2 = aotizhongxin[aotizhongxin['year'] == 2014].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
gucheng_yr2 = aotizhongxin[aotizhongxin['year'] == 2014].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
changping_yr2 = changping[changping['year'] == 2014].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
shunyi_yr2 = shunyi[shunyi['year'] == 2014].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
tiantan_yr2 = tiantan[tiantan['year'] == 2014].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
wanliu_yr2 = wanliu[wanliu['year'] == 2014].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
guanyuan_yr2 = guanyuan[guanyuan['year'] == 2014].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
dongsi_yr2 = dongsi[dongsi['year'] == 2014].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
huariou_yr2 = huariou[huariou['year'] == 2014].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
dingling_yr2 = dingling[dingling['year'] == 2014].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])

#Year 3 data between March 2015 and Feb 2016
aotizhongxin_yr3 = aotizhongxin[aotizhongxin['year'] == 2015].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
gucheng_yr3 = aotizhongxin[aotizhongxin['year'] == 2015].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
changping_yr3 = changping[changping['year'] == 2015].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
shunyi_yr3 = shunyi[shunyi['year'] == 2015].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
tiantan_yr3 = tiantan[tiantan['year'] == 2015].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
wanliu_yr3 = wanliu[wanliu['year'] == 2015].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
guanyuan_yr3 = guanyuan[guanyuan['year'] == 2015].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
dongsi_yr3 = dongsi[dongsi['year'] == 2015].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
huariou_yr3 = huariou[huariou['year'] == 2015].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
dingling_yr3 = dingling[dingling['year'] == 2015].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])

#Year 4 data between March 2016 and Feb 2017
aotizhongxin_yr4 = aotizhongxin[aotizhongxin['year'] == 2016].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
gucheng_yr4 = aotizhongxin[aotizhongxin['year'] == 2016].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
changping_yr4 = changping[changping['year'] == 2016].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
shunyi_yr4 = shunyi[shunyi['year'] == 2016].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
tiantan_yr4 = tiantan[tiantan['year'] == 2016].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
wanliu_yr4= wanliu[wanliu['year'] == 2016].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
guanyuan_yr4 = guanyuan[guanyuan['year'] == 2016].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
dongsi_yr4 = dongsi[dongsi['year'] == 2016].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
huariou_yr4 = huariou[huariou['year'] == 2016].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])
dingling_yr4 = dingling[dingling['year'] == 2016].groupby(['month', 'day']).mean().drop(columns=['hour', 'No'])

In [49]:
gucheng_avg2013

             year       PM2.5        PM10        SO2         NO2           CO  \
month day
3     1    2013.0    7.125000   10.750000  11.708333   22.583333   429.166667
      2    2013.0   30.750000   42.083333  36.625000   66.666667   824.916667
      3    2013.0   76.916667  120.541667  61.291667   81.000000  1620.625000
      4    2013.0   23.428571   45.523810  24.095238   50.190476   642.857143
      5    2013.0  148.875000  183.791667  93.875000  132.833333  2357.958333
...           ...         ...         ...        ...         ...          ...
12    25   2013.0  180.583333  254.083333  88.000000   99.708333  4000.000000
      26   2013.0    9.625000   26.250000  10.166667   19.166667   458.333333
      27   2013.0   15.850000   23.950000  22.300000   35.300000   645.000000
      30   2013.0   71.200000  124.000000  49.400000   94.400000  1620.000000
      31   2013.0   55.791667  234.041667  26.541667   52.541667  1133.333333

                  O3       TEMP         PRES       DEWP  RAIN      WSPM
month day
3     1    63.875000   1.391667  1026.875000 -18.745833   0.0  3.254167
      2    29.750000   0.616667  1026.850000 -15.937500   0.0  1.479167
      3    19.125000   5.566667  1014.608333 -12.316667   0.0  1.658333
      4    52.523810  10.371429  1017.714286 -11.685714   0.0  2.361905
      5    68.458333   6.291667  1010.900000  -7.525000   0.0  1.129167
...              ...        ...          ...        ...   ...       ...
12    25   19.041667  -1.562500  1022.541667 -12.504167   0.0  2.608333
      26   45.625000  -2.533333  1028.329167 -18.729167   0.0  3.004167
      27   25.400000  -1.965000  1024.580000 -17.570000   0.0  1.350000
      30    1.000000  -1.660000  1008.640000 -14.440000   0.0  1.260000
      31   29.458333   3.816667  1006.758333 -13.050000   0.0  2.837500

[289 rows x 12 columns]